BOT_TOKEN=922407365:AAHMbNhy9ciGqSHfqtIC-Ve3G_zdtnXBIog
BOT_USERNAME=bl_tem_bot

SHOLAT_API_URL="https://api.banghasan.com/sholat/format/json/jadwal/kota/667"
SHOLAT_API_TOKEN=
LOCATION_ADDRESS="Plaza City View"
LOCATION_LAT=-6.2739065
LOCATION_LNG=106.8215415

WEB_PORT=8807
ALERT_DELAY=1800000
